In [78]:
import numpy as np 
import pandas as pd

In [79]:
%load_ext sql
import MySQLdb
import sqlalchemy 
engine = sqlalchemy.create_engine("mysql://root:Mysql@2020@localhost/options")
%sql mysql://root:Mysql@2020@localhost/
#engine = create_engine("mysql://{0}:{1}@{2}:{3}/{4}?charset=utf8".format(user, password, host, port, database))
conn = engine.connect()

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [80]:
import requests

url="https://www1.nseindia.com/live_market/dynaContent/live_watch/option_chain/optionKeys.jsp?symbolCode=-9999&symbol=BANKNIFTY&symbol=BANKNIFTY&instrument=OPTIDX&date=-&segmentLink=17&segmentLink=17"

headers = {
    'User-agent': 'Mozilla/5.0'
}

# Make a GET request to fetch the raw HTML content
req = requests.get(url, headers=headers)

# Parse the html content
from bs4 import BeautifulSoup
soup = BeautifulSoup(req.content, 'html.parser')

In [81]:
tables = soup.find_all('table')

In [82]:
html_string = str(tables[2])

In [94]:
df = pd.read_html(html_string)
df = df[0]
df = df.iloc[:-1,:]
df.drop('Chart',axis = 1,inplace = True,level=1)
df.replace(to_replace='-',value=0,inplace=True)
df.replace(to_replace='NaN',value=0,inplace=True)
columns=['OI',"Change in OI",'Volume','IV','LTP','Net Change',"Bid Qty","Bid Price",  
         "Ask price","Ask Qty","Strike Price","Bid Qty","Bid Price","Ask Price","Ask Qty","Net Change",'LTP','IV','Volume',"Chng in OI","OI"]
df = pd.DataFrame(columns=columns,data= df.to_numpy() )

df_copy = df
drop_column = ["Bid Qty","Bid Price","Ask price","Ask Qty","Bid Qty","Bid Price","Ask Price","Ask Qty",]
df_copy = df_copy.drop(columns = drop_column,axis = 1 )

In [95]:
attribute = {'style' : "font-size:1.2em;"}
b = soup.find('b', attribute )
text = b.get_text()
text = text.replace("BANKNIFTY", " ")
curr_price = float(text)
curr_price = round(curr_price)
curr_price = curr_price - (curr_price % 100 )
curr_price
strike_price_max = curr_price + 2000
strike_price_min = curr_price - 2000 

df_copy1 = df_copy[ df_copy['Strike Price'] <= strike_price_max  ]
df_copy1 = df_copy1[ df_copy1['Strike Price'] <= strike_price_min  ]

In [96]:
call_df= df.iloc[:,0:11]
put_df=df.iloc[:,10:]

call_df1 = df_copy.iloc[:,0:7]
put_df1 = df_copy.iloc[:,6:]

call_df2 = df_copy1.iloc[:,0:7]
put_df2 = df_copy1.iloc[:,6:]

In [97]:
%sql show databases

 * mysql://root:***@localhost/
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('options',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

In [98]:
#%sql drop database options
#%sql create database options

In [99]:
%sql use options
#%sql drop df_copy
call_df.to_sql(con=conn, name='call_df', if_exists='replace')
call_df1.to_sql(con=conn, name='call_df1', if_exists='replace')
call_df2.to_sql(con=conn, name='call_df2', if_exists='replace')

 * mysql://root:***@localhost/
0 rows affected.

In [100]:
call_df

,OI,Change in OI,Volume,IV,LTP,Net Change,Bid Qty,Bid Price,Ask price,Ask Qty,Strike Price
0,0,0,0,0,0,0,200,7148.3,7201.25,200,17500
1,0,0,0,0,0,0,2400,6403.75,7506.4,2400,17600
2,0,0,0,0,0,0,2400,5883.45,7419.5,2400,17700
3,0,0,0,0,0,0,2400,6181.75,7284.75,500,17800
4,0,0,0,0,0,0,2400,6117.15,7181.4,500,17900
5,25,25,1,328.48,6702.25,4021.70,200,6648.4,6701.6,200,18000
6,0,0,0,0,0,0,500,5516.65,6962.8,500,18100
7,0,0,0,0,0,0,2400,5430,6849.3,500,18200
8,0,0,0,0,0,0,2400,5324,6781.65,2400,18300
9,0,0,0,0,0,0,2400,5235.8,6678.35,2400,18400
10,25,0,0,0,0,0,200,6148.15,6201.25,200,18500
11,0,0,0,0,0,0,2400,5393.45,6326.15,500,18600
12,0,0,0,0,0,0,2400,5302.3,6222.45,500,18700
13,0,0,0,0,0,0,2400,5209.75,6482,2400,18800
14,0,0,0,0,0,0,625,4916.05,6164.4,625,18900
15,25,0,0,0,0,0,200,5648.7,5711.65,25,19000
16,25,0,0,0,0,0,625,4724.5,6156.5,500,19100
17,0,0,0,0,0,0,625,4659.75,5960.7,2400,19200
18,0,0,0,0,0,0,2400,4550.7,5982.3,2900,19300
19,0,0,0,0,0,0,625,4474.5,5624.75,2400,19400
20,0,0,1,0,4848.95,1621.25,200,5139.1,5211.6,200,19500
21,0,0,0,0,0,0,625,4334.3,5527.95,500,19600
22,0,0,0,0,0,0,625,4341.2,5327.6,2400,19700
23,0,0,0,0,0,0,625,4253.6,5210.95,2400,19800
24,25,0,0,0,0,0,625,4172.65,5081.2,625,19900
25,25,0,0,0,0,0,375,4658.55,4709.25,425,20000
26,25,0,0,0,0,0,625,4013.25,4817.25,500,20100
27,0,0,0,0,0,0,625,3919.95,4739.85,500,20200
28,0,0,0,0,0,0,625,3824.45,4597.4,625,20300
29,25,0,0,0,0,0,625,3731.7,4470.65,625,20400
...,...,...,...,...,...,...,...,...,...,...,...
71,213025,11375,692663,36.95,219.00,33.25,50,215.05,220.4,25,24600
72,405650,134200,996761,36.69,167.00,16.55,100,166,167.8,75,24700
73,488475,68550,1289131,36.31,122.95,2.30,100,123,123.5,225,24800
74,467825,219850,813509,35.80,88.00,-7.95,75,86.85,88.3,250,24900
75,1349500,425450,2078372,35.75,61.00,-15.05,50,60.75,61,800,25000
76,299650,170325,645204,35.47,39.95,-19.90,25,38.45,40,25,25100
77,360150,160850,628763,35.56,25.50,-21.45,25,27,27.75,50,25200
78,283475,99050,431565,35.77,17.10,-20.15,300,17.1,17.5,75,25300
79,154300,-50,366144,36.45,11.50,-18.40,2125,11.5,12,1000,25400
80,610650,87925,742706,37.46,8.05,-16.25,475,8,8.25,125,25500
81,156775,26125,239246,38.56,6.05,-14.05,125,6.05,7,425,25600
82,129500,51300,177859,40.24,4.90,-11.90,25,4.35,4.9,875,25700
83,190875,36900,153226,42.58,4.20,-10.25,325,3.9,4.2,1900,25800
84,82325,29800,103562,44.19,3.35,-8.80,25,3.05,4.05,675,25900
85,826825,129025,297943,46.33,3.05,-7.75,425,3,3.1,25,26000
86,34525,11550,38187,48.97,2.50,-6.90,500,2.65,3.45,500,26100
87,50325,13800,22274,49.74,3.00,-4.80,25,2.8,3,75,26200
88,40675,13775,17765,50.26,3.45,-3.45,25,1.6,4.25,1700,26300
89,12900,-16500,12241,54.48,2.50,-3.65,400,2,2.5,575,26400
90,275675,-45000,80024,56.93,2.05,-3.35,25,1.9,2,200,26500
91,8600,4125,2487,59.71,2.10,-2.95,250,1.8,2.3,250,26600
92,4525,-5125,2046,61.12,1.60,-3.30,825,1.65,2.1,150,26700
93,3775,850,2091,63.20,1.60,-2.25,425,1.6,1.95,25,26800
94,1725,500,1627,67.38,2.00,-1.55,25,1.55,2,550,26900
95,128050,3500,25554,66.06,1.30,-1.60,50,1.25,1.3,25,27000
96,650,75,374,65.67,2.15,-0.85,1000,1,1.95,150,27100
97,725,25,282,71.70,1.35,-1.75,25,1.2,1.5,100,27200
98,775,775,261,75.18,1.55,-763.10,125,0.85,1.95,125,27300
99,1500,825,237,76.13,2.00,-0.30,50,1.05,2,75,27400
100,93300,-3375,13496,76.00,1.30,-0.35,4275,1.05,1.3,150,27500

In [101]:
call_df1

          OI Change in OI   Volume      IV      LTP Net Change Strike Price
0          0            0        0       0        0          0        17500
1          0            0        0       0        0          0        17600
2          0            0        0       0        0          0        17700
3          0            0        0       0        0          0        17800
4          0            0        0       0        0          0        17900
5         25           25        1  328.48  6702.25    4021.70        18000
6          0            0        0       0        0          0        18100
7          0            0        0       0        0          0        18200
8          0            0        0       0        0          0        18300
9          0            0        0       0        0          0        18400
10        25            0        0       0        0          0        18500
11         0            0        0       0        0          0        18600
12         0            0        0       0        0          0        18700
13         0            0        0       0        0          0        18800
14         0            0        0       0        0          0        18900
15        25            0        0       0        0          0        19000
16        25            0        0       0        0          0        19100
17         0            0        0       0        0          0        19200
18         0            0        0       0        0          0        19300
19         0            0        0       0        0          0        19400
20         0            0        1       0  4848.95    1621.25        19500
21         0            0        0       0        0          0        19600
22         0            0        0       0        0          0        19700
23         0            0        0       0        0          0        19800
24        25            0        0       0        0          0        19900
25        25            0        0       0        0          0        20000
26        25            0        0       0        0          0        20100
27         0            0        0       0        0          0        20200
28         0            0        0       0        0          0        20300
29        25            0        0       0        0          0        20400
..       ...          ...      ...     ...      ...        ...          ...
71    213025        11375   692663   36.95   219.00      33.25        24600
72    405650       134200   996761   36.69   167.00      16.55        24700
73    488475        68550  1289131   36.31   122.95       2.30        24800
74    467825       219850   813509   35.80    88.00      -7.95        24900
75   1349500       425450  2078372   35.75    61.00     -15.05        25000
76    299650       170325   645204   35.47    39.95     -19.90        25100
77    360150       160850   628763   35.56    25.50     -21.45        25200
78    283475        99050   431565   35.77    17.10     -20.15        25300
79    154300          -50   366144   36.45    11.50     -18.40        25400
80    610650        87925   742706   37.46     8.05     -16.25        25500
81    156775        26125   239246   38.56     6.05     -14.05        25600
82    129500        51300   177859   40.24     4.90     -11.90        25700
83    190875        36900   153226   42.58     4.20     -10.25        25800
84     82325        29800   103562   44.19     3.35      -8.80        25900
85    826825       129025   297943   46.33     3.05      -7.75        26000
86     34525        11550    38187   48.97     2.50      -6.90        26100
87     50325        13800    22274   49.74     3.00      -4.80        26200
88     40675        13775    17765   50.26     3.45      -3.45        26300
89     12900       -16500    12241   54.48     2.50      -3.65        26400
90    275675       -45000    80024   56.93     2.05      -3.35        26500
91      8600         4125     2487   59.71     2.10      -2.95        26600
92      4525        -5125     2046   61.12     1.60      -3.30        26700
93      3775          850     2091   63.20     1.60      -2.25        26800
94      1725          500     1627   67.38     2.00      -1.55        26900
95    128050         3500    25554   66.06     1.30      -1.60        27000
96       650           75      374   65.67     2.15      -0.85        27100
97       725           25      282   71.70     1.35      -1.75        27200
98       775          775      261   75.18     1.55    -763.10        27300
99      1500          825      237   76.13     2.00      -0.30        27400
100    93300        -3375    13496   76.00     1.30      -0.35        27500

[101 rows x 7 columns]

In [102]:
call_df2

       OI Change in OI Volume      IV      LTP Net Change Strike Price
0       0            0      0       0        0          0        17500
1       0            0      0       0        0          0        17600
2       0            0      0       0        0          0        17700
3       0            0      0       0        0          0        17800
4       0            0      0       0        0          0        17900
5      25           25      1  328.48  6702.25    4021.70        18000
6       0            0      0       0        0          0        18100
7       0            0      0       0        0          0        18200
8       0            0      0       0        0          0        18300
9       0            0      0       0        0          0        18400
10     25            0      0       0        0          0        18500
11      0            0      0       0        0          0        18600
12      0            0      0       0        0          0        18700
13      0            0      0       0        0          0        18800
14      0            0      0       0        0          0        18900
15     25            0      0       0        0          0        19000
16     25            0      0       0        0          0        19100
17      0            0      0       0        0          0        19200
18      0            0      0       0        0          0        19300
19      0            0      0       0        0          0        19400
20      0            0      1       0  4848.95    1621.25        19500
21      0            0      0       0        0          0        19600
22      0            0      0       0        0          0        19700
23      0            0      0       0        0          0        19800
24     25            0      0       0        0          0        19900
25     25            0      0       0        0          0        20000
26     25            0      0       0        0          0        20100
27      0            0      0       0        0          0        20200
28      0            0      0       0        0          0        20300
29     25            0      0       0        0          0        20400
30    200            0      0       0        0          0        20500
31     25            0      0       0        0          0        20600
32     25            0      0       0        0          0        20700
33     25            0      0       0        0          0        20800
34     50            0      0       0        0          0        20900
35    675         -875     57       0  3172.25    -156.50        21000
36    125            0      1       0  3020.00      39.00        21100
37     25           25      1  145.71  3470.95    1322.45        21200
38     25            0      0       0        0          0        21300
39      0            0      0       0        0          0        21400
40   2400         -275     35  169.98  3210.20     381.70        21500
41     25            0      0       0        0          0        21600
42    200            0      4  163.43  3014.35     535.65        21700
43     25            0      1  159.17  2915.00     359.00        21800
44    225          -25      2  148.58  2805.60     376.05        21900
45   8175        -1250    194  141.43  2701.65     368.55        22000
46   1175          -25     44       0  2541.20     304.95        22100
47    925          -25      9       0  2376.10     494.10        22200
48   1700         -225     10  165.58  2479.50     459.50        22300
49   2550            0     10       0  1950.00      -1.15        22400
50  16000         -900    290  111.10  2189.55     353.00        22500
51   2725          150     16       0  1710.00     -60.00        22600